In [1]:
import pandas as pd

In [ ]:
# Test_Beneficiarydata-1542969243754.csv
# Test_Inpatientdata-1542969243754.csv
# Test_Outpatientdata-1542969243754.csv
# Test-1542969243754.csv
# Train_Beneficiarydata-1542865627584.csv
# Train_Inpatientdata-1542865627584.csv
# Train_Outpatientdata-1542865627584.csv
# Train-1542865627584.csv

In [2]:
train = pd.read_csv('Train-1542865627584.csv')

In [10]:
train.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

In [11]:
#how many rows do we have
len(train)

5410

In [29]:
#how many unique providers do we have
len(train.Provider.unique())

5410

### Beneficiary Info

In [12]:
tr_ben = pd.read_csv('Train_Beneficiarydata-1542865627584.csv')

In [17]:
len(tr_ben)
tr_ben.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [15]:
tr_ben.columns

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')

In [19]:
tr_ben.describe()

,Gender,Race,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
count,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,...,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000
mean,1.570932,1.254511,25.666734,374.424745,11.907727,11.910145,1.667817,1.506322,1.687643,1.880041,...,1.644476,1.398142,1.324143,1.725317,1.743180,1.920942,3660.346502,399.847296,1298.219348,377.718258
std,0.494945,0.717007,15.223443,266.277581,1.032332,0.936893,0.470998,0.499962,0.463456,0.324914,...,0.478674,0.489517,0.468056,0.446356,0.436881,0.269831,9568.621827,956.175202,2493.901134,645.530187
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-8000.000000,0.000000,-70.000000,0.000000
25%,1.000000,1.000000,11.000000,141.000000,12.000000,12.000000,1.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,170.000000,40.000000
50%,2.000000,1.000000,25.000000,340.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000,0.000000,0.000000,570.000000,170.000000
75%,2.000000,1.000000,39.000000,570.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2280.000000,1068.000000,1500.000000,460.000000
max,2.000000,5.000000,54.000000,999.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,161470.000000,38272.000000,102960.000000,13840.000000

### Inpatient Info

In [16]:
tr_in = pd.read_csv('Train_Inpatientdata-1542865627584.csv')
print(len(tr_in))
tr_in.head()

40474

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [18]:
tr_in.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')

In [44]:
len(tr_in.columns)

32

In [20]:
tr_in.describe()

,InscClaimAmtReimbursed,DeductibleAmtPaid,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
count,40474.000000,39575.0,23148.000000,5454.000000,965.000000,116.000000,9.000000,0.0
mean,10087.884074,1068.0,5894.611759,4103.738174,4226.355440,4070.172414,5269.444444,NaN
std,10303.099402,0.0,3049.304400,2028.182156,2282.761581,1994.409802,2780.071632,NaN
min,0.000000,1068.0,11.000000,42.000000,42.000000,42.000000,2724.000000,NaN
25%,4000.000000,1068.0,3848.000000,2724.000000,2724.000000,2758.750000,4139.000000,NaN
50%,7000.000000,1068.0,5369.000000,4019.000000,4019.000000,4019.000000,4139.000000,NaN
75%,12000.000000,1068.0,8666.250000,4439.000000,5185.000000,4439.000000,5185.000000,NaN
max,125000.000000,1068.0,9999.000000,9999.000000,9999.000000,9986.000000,9982.000000,NaN

In [27]:
len(tr_in.Provider.unique())

2092

In [40]:
tr_in['Inpatient'] = 1
tr_in['Outpatient'] = 0

In [41]:
tr_in.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,Inpatient,Outpatient
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,1,0
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,1,0
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,1,0

### Outpatient Info

In [32]:
tr_out = pd.read_csv('Train_Outpatientdata-1542865627584.csv')
print(len(tr_out))
tr_out.head()

517737

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [49]:
tr_in.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'Inpatient', 'Outpatient'],
      dtype='object')

In [48]:
tr_out.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode', 'Inpatient', 'Outpatient'],
      dtype='object')

In [45]:
len(tr_out.columns)

29

In [37]:
len(tr_out.Provider.unique())

5012

In [42]:
tr_out['Inpatient'] = 0
tr_out['Outpatient'] = 1

In [47]:
tr_out.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode,Inpatient,Outpatient
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,0,56409,0,1
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,0,79380,0,1
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,1
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,1
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,0,71947,0,1

In [50]:
tr_inout = pd.concat([tr_in, tr_out], join="inner", axis=0)
print(len(tr_inout))
tr_inout

558211

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmAdmitDiagnosisCode,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,Inpatient,Outpatient
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,7866,...,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,6186,...,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,1,0
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,29590,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,431,...,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,1,0
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,78321,...,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,1,0
5,BENE11017,CLM70950,2009-10-06,2009-10-12,PRV54986,8000,PHY402711,PHY402711,PHY402711,1749,...,25002,NaN,863.0,NaN,NaN,NaN,NaN,NaN,1,0
6,BENE11018,CLM32075,2009-01-02,2009-01-07,PRV54090,8000,PHY412314,PHY347494,NaN,5699,...,56210,NaN,4576.0,NaN,NaN,NaN,NaN,NaN,1,0
7,BENE11028,CLM62376,2009-08-03,2009-08-07,PRV51148,6000,PHY346286,PHY405514,NaN,78605,...,41401,NaN,9904.0,NaN,NaN,NaN,NaN,NaN,1,0
8,BENE11031,CLM62784,2009-08-06,2009-08-09,PRV55839,7000,PHY385030,NaN,NaN,2859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
9,BENE11034,CLM31519,2008-12-29,2009-01-05,PRV55215,29000,PHY355604,PHY415867,NaN,41401,...,4589,NaN,3612.0,4139.0,NaN,NaN,NaN,NaN,1,0
10,BENE11034,CLM57949,2009-07-01,2009-07-09,PRV55193,102000,PHY397979,PHY418257,NaN,78605,...,51881,NaN,9672.0,NaN,NaN,NaN,NaN,NaN,1,0
11,BENE11036,CLM70083,2009-09-30,2009-10-07,PRV51145,30000,PHY329774,NaN,NaN,29590,...,30523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
12,BENE11037,CLM65412,2009-08-26,2009-08-29,PRV55846,3000,PHY363584,PHY364336,NaN,72989,...,NaN,NaN,9904.0,4019.0,NaN,NaN,NaN,NaN,1,0
13,BENE11041,CLM54944,2009-06-10,2009-06-15,PRV52283,6000,PHY382905,NaN,NaN,49121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
14,BENE11041,CLM78682,2009-12-07,2009-12-13,PRV52283,17000,PHY432797,PHY432797,NaN,51881,...,4239,NaN,9671.0,2724.0,NaN,NaN,NaN,NaN,1,0
15,BENE11045,CLM57153,2009-06-26,2009-06-30,PRV56588,9000,PHY401860,PHY392348,NaN,82100,...,NaN,NaN,7935.0,NaN,NaN,NaN,NaN,NaN,1,0
16,BENE11046,CLM34469,2009-01-19,2009-01-20,PRV56118,7000,PHY377952,NaN,NaN,29570,...,V6284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
17,BENE11054,CLM54477,2009-06-07,2009-06-08,PRV57191,4000,PHY398500,NaN,NaN,V717,...,85011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
18,BENE11055,CLM57077,2009-06-25,2009-06-29,PRV54675,5000,PHY432444,PHY380143,PHY423511,25082,...,40390,NaN,3893.0,7904.0,NaN,NaN,NaN,NaN,1,0
19,BENE11055,CLM61587,2009-07-28,2009-08-08,PRV54676,11000,PHY391553,PHY341013,NaN,5679,...,3004,NaN,8801.0,5849.0,NaN,NaN,NaN,NaN,1,0
20,BENE11057,CLM36789,2009-02-03,2009-03-10,PRV51393,13000,PHY326399,PHY430692,NaN,78605,...,4150,NaN,3995.0,NaN,NaN,NaN,NaN,NaN,1,0
21,BENE11057,CLM38115,2009-02-12,2009-02-18,PRV51342,10000,PHY375861,NaN,NaN,0389,...,2859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
22,BENE11057,CLM41414,2009-03-06,2009-03-08,PRV55834,11000,PHY353046,PHY314847,NaN,4139,...,4148,NaN,66.0,4019.0,NaN,NaN,NaN,NaN,1,0
23,BENE11065,CLM60246,2009-07-19,2009-07-22,PRV51578,5000,PHY378170,NaN,NaN,78097,...,49392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
24,BENE11066,CLM75192,2009-11-09,2009-11-11,PRV53937,15000,PHY360447,PHY411770,PHY357982,59971,...,59971,NaN,9904.0,5849.0,NaN,NaN,NaN,NaN,1,0
25,BENE11067,CLM37565,2009-02-09,2009-02-15,PRV51710,4000,PHY433429,NaN,NaN,49122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
26,BENE11069,CLM62447,2009-08-04,2009-08-06,PRV53135,3000,PHY393448,NaN,NaN,7906,...,41012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
27,BENE11069,CLM80966,2009-12-29,2009-12-31,PRV53135,14000,PHY393448,PHY393448,NaN,6826,...,NaN,NaN,8872.0,NaN,NaN,NaN,NaN,NaN,1,0
28,BENE11071,CLM48802,2009-04-28,2009-05-03,PRV55023,5000,PHY338268,NaN,PHY338268,78605,...,25000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
29,BENE11078,CLM60118,2009-07-18,2009-07-21,PRV56490,19000,PHY340627,PHY340627,NaN,71536,...,NaN,NaN,8151.0,NaN,NaN,NaN,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517707,BENE159195,CLM646108,2009-10-23,2009-10-23,PRV57193,100,PHY397124,PHY315238,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517708,BENE159196,CLM216517,2009-02-26,2009-02-26,PRV51908,70,PHY423187,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517709,BENE159196,CLM431740,2009-06-23,2009-06-23,PRV51836,10,PHY376936,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517710,BENE159196,CLM444406,2009-06-30,2009-07-05,PRV51836,300,PHY376936,NaN,PHY313818,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517711,BENE159196,CLM489244,2009-07-25,2009-08-14,PRV51836,300,PHY433436,PHY433436,PHY313818,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517712,BENE159196,CLM512521,2009-08-07,2009-08-07,PRV51836,70,PHY422260,NaN,NaN,V7612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517713,BENE159196,CLM519580,2009-08-11,2009-08-31,PRV51836,400,PHY422260,NaN,PHY313818,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517714,BENE159196,CLM540893,2009-08-23,2009-08-23,PRV51836,300,PHY376936,NaN,PHY313818,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517715,BENE159196,CLM635298,2009-10-17,2009-10-17,PRV51836,200,PHY313818,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517716,BENE159196,CLM636991,2009-10-18,2009-10-18,PRV51836,100,PHY433436,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517717,BENE159196,CLM643605,2009-10-22,2009-10-22,PRV51836,30,PHY433436,NaN,PHY313818,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517718,BENE159196,CLM673178,2009-11-09,2009-11-09,PRV54337,500,PHY317658,NaN,PHY373809,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517719,BENE159196,CLM676496,2009-11-11,2009-11-11,PRV51836,100,PHY433436,NaN,PHY313818,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517720,BENE159196,CLM684528,2009-11-16,2009-11-16,PRV51851,60,PHY344222,PHY344222,PHY370416,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517721,BENE159196,CLM721301,2009-12-09,2009-12-09,PRV51836,800,PHY376936,NaN,PHY313818,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517722,BENE159197,CLM287709,2009-04-05,2009-04-05,PRV53078,60,PHY317245,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517723,BENE159197,CLM698270,2009-11-24,2009-11-24,PRV53042,90,PHY420120,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517724,BENE159198,CLM111191,2008-12-23,2009-01-12,PRV53676,60,PHY361063,PHY361063,NaN,3009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517725,BENE159198,CLM172248,2009-02-02,2009-02-02,PRV53676,400,PHY361063,PHY361063,NaN,1991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517726,BENE159198,CLM189011,2009-02-11,2009-02-11,PRV53672,3300,PHY390366,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517727,BENE159198,CLM255268,2009-03-19,2009-03-19,PRV53672,70,PHY317739,PHY317739,PHY423886,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517728,BENE159198,CLM275604,2009-03-30,2009-04-19,PRV53699,50,PHY380182,NaN,NaN,71946,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517729,BENE159198,CLM310720,2009-04-18,2009-05-08,PRV53670,0,PHY329971,NaN,NaN,29570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517730,BENE159198,CLM347778,2009-05-08,2009-05-08,PRV53676,80,PHY361063,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517731,BENE159198,CLM400395,2009-06-06,2009-06-06,PRV53699,100,PHY380182,NaN,PHY385752,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517732,BENE159198,CLM510792,2009-08-06,2009-08-06,PRV53699,800,PHY364188,PHY364188,PHY385752,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517733,BENE159198,CLM551294,2009-08-29,2009-08-29,PRV53702,400,PHY423019,PHY332284,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517734,BENE159198,CLM596444,2009-09-24,2009-09-24,PRV53676,60,PHY361063,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517735,BENE159198,CLM636992,2009-10-18,2009-10-18,PRV53689,70,PHY403198,NaN,PHY419379,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
517736,BENE159198,CLM686139,2009-11-17,2009-11-18,PRV53689,80,PHY419379,NaN,PHY419379,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1

In [51]:
len(tr_inout.Provider.unique())

5410

In [52]:
print(len(tr_in) + len(tr_out))

558211

In [53]:
len(tr_inout.AttendingPhysician.unique())

82064